<section class="contact">
    <div class="contents">
        <h2>CONTACT ME</h2>
        <p>"Explore the Contact Me page to connect and engage. Drop a message, share your thoughts, or inquire about collaboration opportunities. Looking forward to hearing from you! 🚀"





        </p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="boxs">
                <div class="icon"><i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>B-27-Gamma-1
                        <br>Greater-Noida,201310</p>
                </div>
            </div>
            <div class="boxs">
                <div class="icon"><i class="fas fa-phone"></i>
                </div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>
                        <a href="tel:9336653962">9336653962</a><br>
                        <a href="tel:6386070511">6386070511</a>


                    </p>
                </div>
            </div>
            <div class="boxs">
                <div class="icon"><i class="far fa-envelope"></i>
                </div>
                <div class="text">
                    <h3>Email</h3>
                    <p>
                        <a href="mailto:shreyanshshikharsrivastava@gmail.com
                            ">shreyanshshikhar<br>srivastava@gmail.com
                            </a>

                    </p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form action="https://formspree.io/f/xnqeazoj" method="POST">
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="name" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="email" name="email" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea name="message" required=" required "></textarea><span>Type your message...</span>
                </div>
                <div class="inputBox ">
                    <input type="submit" value="Send ">
                </div>
            </form>
        </div>
    </div>
</section>