<div class="content">

    <div class="box">
        <div class="about-section">
            <h1 data-aos="zoom-in" data-aos-delay="300" class="typewriter">ABOUT ME</h1>
            <div class="about-content">
                <div class="about-image" data-aos="fade-right" data-aos-delay="400">
                    <img [src]="'assets/MEAN-stack-image-removebg-preview.png'" alt="Profile Image">
                </div>
                <div class="about-text box1" data-aos="zoom-out" data-aos-delay="600">
                    >
                    <p class=" overflow-scroll ">My name is Shreyansh Shikhar Srivastava, and I'm currently in the final year of my B.Tech program in Computer Science. With a strong foundation in the MEAN stack (MongoDB, Express.js, Angular, Node.js), I'm determined to carve my career
                        path as a full-stack web developer. My journey into web development began out of sheer curiosity and has grown into a deep-seated passion. I derive immense satisfaction from creating dynamic and user-friendly web applications that
                        not only look great but also offer a seamless user experience. Having explored both front-end and back-end development, I'm excited to contribute to innovative and impactful projects in this ever-evolving field. that web development
                        offers are what truly inspire me. Feel free to explore my portfolio and don't hesitate to get in touch if you're interested in collaborating on projects or have any questions. I'm always open to new opportunities and eager to connect
                        with fellow developers and enthusiasts within the web development community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>