<!-- coming-soon.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-3">To Be Added Soon!
            </h1>
            <p class="lead">Go Back To <strong><a routerLink="/" style="text-decoration: none;">Home page</a></strong></p>
            <div class="mt-4">
                <img src="https://media.istockphoto.com/id/1283050796/vector/flat-design-under-construction-concept.jpg?s=612x612&w=0&k=20&c=CATQe8sEl7YdpwxZ4VHwYh5FjHY9MkbyRNhALyslZwA=" alt="Under Construction" class="img-fluid">
            </div>
        </div>
    </div>
</div>