<div class=" mt container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 text-center">
            <div *ngFor="let certificate of certificates" class="mt-3">
                <div class="card-header fw-bold display-6">
                    {{ certificate.title }}
                </div>
                <br>
                <div class="card-body">
                    <img [src]="certificate.imageUrl" alt="Certificate Image" class="img-fluid mb-3" style="max-width: 50%; height: auto;">
                    <p class="fw-bold ">Certificate:
                        <a [href]="certificate.link" target="_blank" class="fw-bolder" style="text-decoration: none;">Click🔗</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
