<div class="content">

    <div class="box">
        <div class="section-1">
            <div class="technologies">
                <img src="assets/MEAN-removebg-preview.jpg" alt="">
            </div>
            <h1 data-aos="fade-right" data-aos-delay="300">Hi, I am Shreyansh Shikhar Srivastava</h1>
            <h3 class="role" data-aos="zoom-in-right" data-aos-delay="500">
                {{role}}
            </h3>
            <p data-aos="fade-left" data-aos-delay="700">As a fresh MEAN Stack developer, I am passionate about web development and eager to learn and grow in the field. I possess a strong foundation in MongoDB, Express.js, Angular, and Node.js, and I'm excited to contribute to innovative projects
                and expand my knowledge.
            </p>
            <div class="btn" data-aos="fade-right" data-aos-delay="700">
                <button type="button" class="btn btn-outline-info">  <a href="/assets/Shreyansh Shikhar Srivastava Resume.pdf" target="_blank" class="resume">Download Resume</a>
                </button>
            </div>

        </div>
        <div class="section-2" data-aos="flip-right" data-aos-delay="300">
            <img src="assets/IMG-20221006-WA0004-removebg-preview.JPG%20(1).png" alt="Image Description" class="large-image">
            <img src="assets/IMGpreview.JPG.png" alt="Your Image Alt Text" class="small-image">
        </div>


        <div class="social">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/shreyansh-shikhar-srivastava" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/shreyanshshikhar" target="_blank"><i class="fab fa-github"></i></a>
        </div>

    </div>

</div>

<app-about></app-about>
<app-skills></app-skills>
<app-education></app-education>
<app-projects></app-projects>
<app-contact-us></app-contact-us>
